<div class="client-cabinet">
    <div class="client-photo">
        <img src="pictures/client_photo.PNG" alt="Фото пользователя">
    </div>
    <div class="client-info">
        <h2>Имя Фамилия</h2>
        <p><strong>Email:</strong> user@example.com</p>
        <p><strong>Пароль:</strong> ********</p>
        <div class="orders-list">
            <h3>Список заказов:</h3>
            <ul>
                <li>Заказ 1</li>
                <li>Заказ 2</li>
                <li>Заказ 3</li>
            </ul>
        </div>
        <button class="edit-button" onclick="window.location.href='/edit_user:id='">Редактировать данные</button>
    </div>
</div>