<div class="menu">
    <div class="circle" onclick="location.href='/cakes';">
        <img src="pictures/menu_cakes.PNG" alt="Торты">
    </div>
    
    
    <div class="circle" onclick="location.href='/cupcakes';">
        <img src="pictures/menu_cupcakes.PNG" alt="Капкейки">
    </div>
</div>