<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sladkiy tortik</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header> //Контент шапки сайта
    <div class="logo">
        <img src="pictures/logo.PNG" alt="Логотип">
        <h1 class="logo-text">Sladkiy tortik</h1>
    </div>
    <nav>
        <a href="/">Главная</a>
        <div class="search-container">
            <input type="text" placeholder="Найти...">
            <button type="submit">Поиск</button>
            <div class="basket">
                <button type="button" onclick="location.href='/basket'">Корзина</button>
            </div>
        </div>
        <button type="button" onclick="location.href='/login'">Вход / Регистрация</button>
    </nav>
</header>

<main>
    {{{ body }}}
</main>

<footer>
    <div class="social">
        <img src="pictures/social.jpg" alt="Instagram">
        <span>Наш Instagram: @sladkiytortik</span>
    </div>
    <div class="contact">
        <img src="pictures/contact.jpg" alt="Телефон">
        <span>Телефон: +375 29 123-45-67</span>
    </div>
</footer>

</body>
</html>