body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}
nav {
   display: flex;
   align-items: center;
}
nav a {
   margin: 0 15px;
   text-decoration: none;
   color: #333;
}
footer .social {
   display: flex;
   align-items: center;
}
footer .social img {
   width: 30px;
   height: auto;
   margin-right: 10px;
}
footer .contact {
   display: flex;
   align-items: center;
}
footer .contact img {
   width: 30px;
   height: auto;
   margin-right: 10px;
}

.cakes-container {
   display: flex;
   flex-direction: column;
   width: 80%;
   max-width: 800px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   padding: 20px;
}
.cake-item {
   display: flex;
   align-items: center;
   padding: 15px;
   border-bottom: 1px solid #eee;
   text-decoration: none;
   color: black;
   transition: background-color 0.3s;
}
.cake-item:hover {
   background-color: #f9f9f9;
}
.cake-item img {
   width: 80px;
   height: 80px;
   border-radius: 5px;
   margin-right: 15px;
}
.cake-info {
   display: flex;
   flex-direction: column;
}
.cake-info h3 {
   margin: 0;
   font-size: 1.2em;
}
.cake-info p {
   margin: 5px 0 0;
   color: #888;
}
.cupcakes-container {
   display: flex;
   flex-direction: column;
   width: 80%;
   max-width: 800px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   padding: 20px;
}
.cupcake-item {
   display: flex;
   align-items: center;
   padding: 15px;
   border-bottom: 1px solid #eee;
   text-decoration: none;
   color: black;
   transition: background-color 0.3s;
}
.cupcake-item:hover {
   background-color: #f9f9f9;
}
.cupcake-item img {
   width: 80px;
   height: 80px;
   border-radius: 5px;
   margin-right: 15px;
}
.cupcake-info {
   display: flex;
   flex-direction: column;
}
.cupcake-info h3 {
   margin: 0;
   font-size: 1.2em;
}
.cupcake-info p {
   margin: 5px 0 0;
   color: #888;
}
.client-cabinet {
   display: flex;
   width: 80%;
   max-width: 800px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   padding: 20px;
}
.client-photo {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
}
.client-photo img {
   width: 150px;
   height: 150px;
   border-radius: 75px; /* Круглая форма */
   object-fit: cover; /* Обрезка изображения, если оно больше */
}
.client-info {
   flex: 2;
   display: flex;
   flex-direction: column;
}
.client-info h2 {
   margin: 0;
   font-size: 24px;
}
.client-info p {
   margin: 5px 0;
   font-size: 16px;
}
.orders-list {
   margin-top: 10px;
   padding: 10px;
   background-color: #f9f9f9;
   border-radius: 5px;
}
.edit-button {
   margin-top: 20px;
   padding: 10px 15px;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s;
}
.edit-button:hover {
   background-color: #0056b3;
}
.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f4f4f4;
   padding: 15px 20px;
   border-bottom: 2px solid #ccc;
}
.logo-img{
   width: 150px;
   height: auto;
   margin-right: 10px;
}
.logo-text {
   display: flex;
   align-items: center;
   font-size: 70px;
   font-family: 'Freestyle Script', sans-serif;
}
.search-button {
   padding: 5px 10px;
   margin-left: 5px;
   border: none;
   background-color: #a7284c;
   color: white;
   border-radius: 5px;
   cursor: pointer;
}
.search-input {
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
}
.footer-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f4f4f4;
   padding: 15px 20px;
   border-top: 2px solid #ccc;
   margin-top: 20px;
}
.basket-button {
   padding: 5px 10px;
   margin-left: 5px;
   border: none;
   background-color: #e380d6;
   color: white;
   border-radius: 5px;
   cursor: pointer;
}
.login-button {
   padding: 5px 10px;
   margin-left: 5px;
   border: none;
   background-color:rgb(228, 173, 239);
   color: white;
   border-radius: 5px;
   cursor: pointer;
}
.main-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60vh;
   margin: 0;
   background-color: #f2f2f2;
}
.login-container {
   background-color: white;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   width: 300px;
}
.login-container h2 {
   text-align: center;
   margin-bottom: 20px;
}
.input-group {
   margin-bottom: 15px;
}
.input-group label {
   display: block;
   margin-bottom: 5px;
}
.input-group input {
   width: 100%;
   padding: 8px;
   box-sizing: border-box;
   border: 1px solid #ccc;
   border-radius: 5px;
}
.button-group {
   display: flex;
   justify-content: space-between;
}
.button-group button {
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.2s;
}
.button-group button:hover {
   background-color: #a7284c;
   color: white;
}
.menu {
   display: flex;
   justify-content: center;
   align-items: center;
}
.circle {
width: 300px;  /* Ширина круга */
height: 300px; /* Высота круга */
border-radius: 50%; /* Делает элемент кругом */
overflow: hidden; /* Скрывает часть картинки, выходящую за пределы круга */
display: flex; 
justify-content: center; 
align-items: center; 
margin: 20px;
cursor: pointer; /* Указатель мыши для интерактивности */
transition: transform 0.2s; /* Анимация при наведении */
}
.circle img {
width: 100%; /* Ширина изображения соответствует кругу */
height: 100%; /* Высота изображения соответствует кругу */
object-fit: cover; /* Обеспечивает обрезку изображения по размеру круга */
}
.circle:hover {
transform: scale(1.05); /* Увеличивает круг при наведении */
}


.cake-container {
   display: flex;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 20px;
   max-width: 800px;
   width: 90%;
}
.cake-container h2 {
   margin: 0;
   font-size: 24px;
}
.cake-text {
   flex: 2;
}

.order-button {
   display: inline-block;
   padding: 10px 20px;
   background-color: #a7284c;
   color: white;
   border: none;
   border-radius: 5px;
   text-decoration: none;
   cursor: pointer;
   font-size: 16px;
}
.order-button:hover {
   background-color: #a7284c;
}
.cake-image {
   flex: 1;
   text-align: center;
   margin-right: 20px;
}
.cake-image img {
   max-width: 100%;
   border-radius: 10px;
}